DB_URL=jdbc:postgresql://localhost:5436/unimarket
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Si usas S3 también puedes dejar estas variables:
# AWS_REGION=us-east-1
# AWS_BUCKET=change-me
# AWS_ACCESS_KEY=change-me
# AWS_SECRET_KEY=change-me
# AWS_PUBLIC_BASE_URL=https://change-me.s3.amazonaws.com
